h1{
    color: black;
    text-align: center;
    text-decoration: underline;
}
p{
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 20px;
    color: black;
}
li{
    margin-bottom: 10px;
    list-style-type: none;
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
    
}
h2{
    text-align: center;
    text-decoration: underline;
    color: black;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: x-large;
}
body{
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer{
    background-color: #3ee77f;
    width: 100%;
    height: 100%;
    color: #774a3c;
    text-align: left;
}

.container{
    display: grid;
    grid-template-rows: repeat(5,1fr);
    grid-template-columns: repeat(5,1fr);
}
.main-container{
    background-color: #3ee77f;
    grid-column: 1 / 5;
}
.html-container{
    background-color: #774a3c;
}
.css-container{
    background-color: aqua;
}
.flexbox-container{
    background-color: blanchedalmond;
}