h1{
    color: black;
    text-align: center;
    text-decoration: underline;
}
h2{
    color: black;
    text-decoration: underline;
    font-size: x-large;
    text-align: center;
}
p{
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 20px;
    color: black;
}
li{
    margin-bottom: 10px;
    list-style-type: none;
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
    
}
body{
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer{
    background-color: #3ee77f;
    color: #774a3c;
    text-align: left;
    height: 1fr;
}
.main-container{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 0.1fr minmax(0,0.1fr) 1fr;
    height: 100vh;
}
.main{
    background-color: #3ee77f;
    grid-column: 1/ -1;
    grid-row: 1;
    text-align: center;
}
.my-files{
    background-color: blue;
    grid-column: 1 / -1;
    grid-row: 2;
}
.html-container{
    background-color: #774a3c;
    grid-column: 1 / 3;
    grid-row: 3
}
.css-container{
    background-color: aqua;
    grid-row: 3;
    grid-column: 3 / 5;
}
.flexbox-container{
    background-color: blanchedalmond;
    grid-row: 3;
    grid-column: 5 / 7;
}