h1{
    color: #273F4F;
    text-align: center;
}
p{
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 20px;
    color: #273F4F;
}
li{
    margin-bottom: 10px;
}
a{
    text-decoration: none;
    color: #273F4F;
}
h2{
    text-align: center;
    color: #273F4F;
    margin-top: 40px;
    margin-bottom: 20px;
}
body{
    background-color:#FE7743;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer{
    background-color: #D7D7D7;
    width: 100%;
    height: 100%;
    color: #273F4F;
}