body{
    margin: 0;
    width: 100%;
}
.gradient-background
{
  background: linear-gradient(225deg, #EB6646, #EB9F46, #EA8146, #e42d2a, #EBB546, #f39056 );
  background-size: 180% 180%;
  animation: gradient-animation 20s ease infinite;
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#top-container{
    height: 50vh
}
.container{
    display: grid;
    padding-top: 10vh;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 3;
}
.item1{
    grid-column: 1/2;
    grid-row: 1;
}
.item2{
    grid-column: 2/3;
    grid-row: 1;
}
.item3{
    grid-column: 1/2;
    grid-row: 1;
    align-self: flex-end;
}
h1{
    font-size: 60px;
    font-family: "Source Code Pro";
}
.man{
    height: 300px;
    width: 300px;
    border-radius: 10%;
}
.resume-link{
    text-decoration: none;
    font-weight: 400;
    color: black;
    background-color: #14c6cc;
    font-family: "Source Code Pro";
    font-size: 30px;
    border: 0.3rem solid black;
    border-radius: 20px;
}
.container1{
    height: 10vh;
    display: flex;
    align-items: center;
}
h2{
    font-weight: 500;
    font-family: "Source Code Pro";
    text-decoration: underline;
    font-size: 50px;
    margin: 0;
}
.myprojects{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    grid-row: 1;
    grid-column: 1/-1;
}
.container2{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 20px;
    margin: 0 0 20px 20px;
}
p{
    font-family: "Source Code Pro";
    font-weight: 400;
}
.click{
    text-decoration: none;
    font-family: "Source Code Pro";
}
.a1234{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.abouth{
    height: 200px;
    margin: 0;
}
#a1{
    text-align: center;
}
.container3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    flex-direction: column;
}
E-Mail{
    font-family: "Source Code Pro";
}
@media (max-width:1020px)
{
    h1{
        font-size: 30px;
        text-align: center;
    }
    .container{
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    .item1{
        grid-column: 1/-1;
        grid-row: 1;
    }
    .item2{
    grid-column: 1/-1;
    grid-row: 2;
    }
    .item3{
    grid-column: 1/-1;
     grid-row: 3;
    }
    p{
        font-size: medium;
    }
    .container1{
    height: 350px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    }
    .container2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(5,1fr);
}
}
